<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form_Clientes</title>
</head>
<body>
    <form id="form_cli" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome">
        <label for="cpf">CPF: </label>
        <input type="number" name="cpf" id="">
        <label for="rg">RG: </label>
        <input type="number" name="rg">
        <label for="ender">Endereço: </label>
        <input type="text" name="ender">
    </form>
</body>
</html>